:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 14px;
}
@media (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 20px;
  }
}

a,
button.logout {
  font-weight: 500;
  color: Turquoise;
  text-decoration: inherit;
}
a:hover,
button.logout:hover {
  color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.8em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 0.2em;
}
button + button {
  margin-left: 0.2em;
}
button.logout,
button-logout:hover {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
button:hover {
  border-color: turquoise;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.genresButtons button {
  font-size: 0.8em;
}
#addBookForm #genres {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
#addBookForm #genres > span {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  max-width: 400px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: Teal;
  }
  a:hover {
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
}
table {
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}
table p {
  margin: 0;
}
tr > * {
  border-bottom: 1px dashed currentColor;
  padding: 0 1em;
  vertical-align: top;
}
tr:first-of-type > * {
  border-bottom: 3px double currentColor;
}
form {
  --padding: 1em;
  display: flex;
  gap: var(--padding);
  flex-flow: column nowrap;
  padding: var(--padding);
  margin: var(--padding);
}
form label {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--padding) / 2);
}
form label span {
  min-width: 30%;
}
form select,
form input {
  min-width: calc(70% - var(--padding));
}
ul {
  list-style: '// ';
}
ul.main-navigation {
  list-style: none;
  display: flex;
  gap: 1em;
  justify-content: center;
  padding-left: 0;
}
.active {
  text-decoration: underline;
  opacity: 0.8;
  font-weight: 100;
  color: currentColor;
}
.main-container {
  margin-top: 3em;
}
