@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Oswald:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root {
  --letter-spacing: 0.03em;
  --text-family: Lato, Helvetica, Arial, sans-serif;
  --title-family: Oswald, Lato, Helvetica, Arial, sans-serif;
  font-family: var(--text-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 13px;

  --hue-primary: 174;
  --sat: 100%; /*saturation*/

  --color-primary-1: hsl(var(--hue-primary), var(--sat), 1.5%);
  --color-primary-2: hsl(var(--hue-primary), var(--sat), 4%);
  --color-primary-3: hsl(var(--hue-primary), var(--sat), 7%); /**/
  --color-primary-4: hsl(var(--hue-primary), var(--sat), 10%); /**/
  --color-primary-5: hsl(var(--hue-primary), var(--sat), 14%);
  --color-primary-6: hsl(var(--hue-primary), var(--sat), 18%); /**/
  --color-primary-7: hsl(var(--hue-primary), var(--sat), 22%);
  --color-primary-8: hsl(var(--hue-primary), var(--sat), 26%); /**/
  --color-primary-9: hsl(var(--hue-primary), var(--sat), 32%);
  --color-primary-10: hsl(var(--hue-primary), var(--sat), 37%); /**/
  --color-primary-11: hsl(var(--hue-primary), var(--sat), 43%);
  --color-primary-12: hsl(var(--hue-primary), var(--sat), 54%);
  --color-primary-13: hsl(var(--hue-primary), var(--sat), 62%);
  --color-primary-14: hsl(var(--hue-primary), var(--sat), 68%); /**/
  --color-primary-15: hsl(var(--hue-primary), var(--sat), 72%); /**/
  --color-primary-16: hsl(var(--hue-primary), var(--sat), 77%); /**/
  --color-primary-17: hsl(var(--hue-primary), var(--sat), 82%); /**/
  --color-primary-18: hsl(var(--hue-primary), var(--sat), 88%); /**/
  --color-primary-19: hsl(var(--hue-primary), var(--sat), 92%);
  --color-primary-20: hsl(var(--hue-primary), var(--sat), 96%);

  color: var(--color-primary-18);
  background-color: var(--color-primary-1);
}
@media (min-width: 400px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  :root {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  :root {
    font-size: 20px;
  }
}

a,
button.logout {
  font-weight: 500;
  color: var(--color-primary-14);
  text-decoration: inherit;
}
a:hover,
button.logout:hover {
  color: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}
@media (min-width: 400px) {
  body {
    justify-content: center;
  }
}
#root {
  max-width: 1280px;
  margin: 0;
  padding: 0.2rem;
  text-align: center;
}
@media (min-width: 400px) {
  #root {
    padding: 1rem;
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  #root {
    padding: 2rem;
  }
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-bottom-color: var(--color-primary-5);
  padding: 0.3em 0.8em 0.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary-3);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 0.2em;
}
button + button {
  margin-left: 0.2em;
}
button.logout,
button-logout:hover {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
button:hover {
  border-color: var(--color-primary-14);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.genresButtons {
  padding: 1em;
}
.genresButtons button {
  font-size: 0.8em;
}
table {
  text-align: left;
  margin: 0 0 3em;
  border-collapse: collapse;
  width: 100%;
}
@media (min-width: 400px) {
  table {
    margin: 0 auto 4em;
  }
}
table p {
  margin: 0;
}
tr > * {
  border-bottom: 1px dashed currentColor;
  padding: 0.3em 0.1em;
  vertical-align: top;
}
@media (min-width: 400px) {
  tr > * {
    padding: 0.4em 0.6em;
  }
}
tr:first-of-type > * {
  border-bottom: 3px double currentColor;
}
form {
  --padding: 1em;
  display: flex;
  gap: calc(var(--padding) * 2);
  flex-flow: column nowrap;
  padding: var(--padding);
  margin: 1em 0.2em;
}
@media (min-width: 400px) {
  form {
    margin: var(--padding) 0;
  }
}
form legend {
  border-bottom: 3px double currentColor;
  margin-bottom: 1em;
  margin-left: calc(-1 * var(--padding) / 1.5);
  margin-right: calc(-1 * var(--padding) / 1.5);
  font-size: 1.2em;
  font-weight: bold;
}
form label {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: calc(var(--padding) / 2);
}
form label span {
  min-width: 100%;
}
form select {
  width: 100%;
}
form input {
  width: calc(100% - var(--padding));
}
@media (min-width: 400px) {
  form label {
    flex-flow: row nowrap;
  }
  form label span {
    min-width: 30%;
  }
  form select {
    width: 70%;
  }
  form input {
    width: calc(70% - var(--padding));
  }
}
#addBookForm {
  gap: 3em;
}
#addBookForm #genres {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
#addBookForm #genres button:hover {
  border-color: red;
}
#addBookForm #genres > span {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  max-width: 400px;
}
.forms-wrap {
  display: flex;
  gap: 0.5em;
  flex-flow: column nowrap;
}
@media (min-width: 400px) {
  .forms-wrap {
    flex-flow: row nowrap;
    gap: 1em;
  }
}
.form-user,
.form-authors,
.form-login {
  gap: 1.4em;
  border: 1px solid currentColor;
  border-radius: 4px;
  outline: 1px solid hsl(0, 0%, 0%, 0.5);
  outline-offset: -1px;
}
.form-login {
  padding-top: 3em;
  gap: 3em;
}
.form-user input {
  width: calc(100% - var(--padding));
}
.form-authors .top {
  position: relative;
  z-index: 2;
}
.form-authors label,
#addBookForm span {
  text-align: left;
}
.form-authors span.padding {
  padding-left: 0.5em;
  padding-top: 0.5em;
}
ul {
  list-style: '// ';
}
ul.main-navigation {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  justify-content: center;
  padding-left: 0;
  max-width: calc(100vw - var(--scrollbar_width));
  letter-spacing: calc(var(--letter-spacing) * -2);
  margin: 0;
}
@media (min-width: 400px) {
  ul.main-navigation {
    margin: 0 auto;
  }
}
ul.main-navigation + p {
  max-width: calc(100vw - var(--scrollbar_width));
}
.active {
  text-decoration: underline;
  opacity: 0.8;
  font-weight: 300;
  color: currentColor;
}
.main-container {
  margin-top: 3em;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  position: absolute;
  width: 1px;
  height: 1px;
  line-height: 1px;
  overflow: hidden;
  word-wrap: normal;
  padding: 0;
  margin: -1px;
  border: 0;
}
*:not(table) {
  max-width: calc(100vw - var(--scrollbar_width));
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: var(--title-family);
  letter-spacing: calc(var(--letter-spacing) / 2);
}

input[type='text' i],
input[type='number' i],
input[type='email' i],
input[type='password' i],
textarea {
  width: 100%;
  line-height: 2;
  padding-left: 0.5em;
  color: var(--color-primary-20);
  background-color: var(--color-primary-1);
  border-radius: var(--radius-small);
  font-family: inherit;
  /*also change border properties in select.module.css to match*/
  border-color: var(--color-primary-11);
  border-top-color: var(--color-primary-14);
  border-bottom-color: var(--color-primary-6);
  border-style: solid;
  border-width: 0.09em 0.05em 0.1em 0.05em;

  background-color: transparent;
  border: none;
}

.input-wrap {
  position: relative;
  flex: 1 1 46%;
}
.input-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2.3em;
  transform: scaleY(0.08);
  transform-origin: bottom;
  background-color: var(--color-primary-2);
  pointer-events: none;
  border-radius: var(--radius-small);
  border-bottom: solid 0.1em var(--color-primary-6);
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
input:-internal-autofill-selected {
  appearance: none;
  background-color: transparent !important;
  color: -internal-light-dark-color(black, white) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  -webkit-box-shadow: 0 0 0px 1000px gray inset;
}
.input-wrap:has(input:focus)::before,
.input-wrap:has(input:valid)::before {
  transform: scaleY(1);
}
.input-wrap label {
  position: relative;
  min-width: 100%;
  line-height: 2;
  margin-right: 1em;
  max-height: 2em;
}
.input-wrap label span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0.5em;
  min-width: max-content;
  cursor: text;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}
.input-wrap input:focus-visible {
  outline: none;
}

.input-wrap input:focus ~ span,
.input-wrap input:valid ~ span {
  transform: translateY(-2em);
}

/*Hide number arrows:*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: Teal;
  }
  a:hover {
    color: black;
  }
  button {
    background-color: #f9f9f9;
  }
} */
